<div class="contenedor">
    <h1>Crea tu cuenta</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <input type="text" placeholder="Nombre completo*" formControlName="nombreCompleto">

        <input type="text" placeholder="Teléfono*" formControlName="tlf">

        <input type="email" placeholder="Correo electrónico*" formControlName="correo">
        @if (f['correo'].invalid && (f['correo'].touched || f['correo'].dirty)) {

            @if (f['correo'].errors?.['required']) {
                <p class="error">El correo es obligatorio</p>
            }

            @if (f['correo'].errors?.['email']) {
                <p class="error">Formato de correo inválido</p>
            }

            @if (f['correo'].errors?.['minlength']) {
                <p class="error">Debe tener al menos 5 caracteres</p>
            }

            @if (f['correo'].errors?.['maxlength']) {
                <p class="error">No puede superar 100 caracteres</p>
            }

            @if (f['correo'].errors?.['correoDuplicado']) {
                <p class="error">Este correo ya está registrado</p>
            }
        }


        <input type="password" placeholder="Contraseña*" formControlName="password">
        @if (f['password'].invalid && (f['password'].touched || f['password'].dirty)) {

            @if (f['password'].errors?.['required']) {
                <p class="error">La contraseña es obligatoria</p>
            }

            @if (f['password'].errors?.['minlength']) {
                <p class="error">Debe tener mínimo 8 caracteres</p>
            }

            @if (f['password'].errors?.['maxlength']) {
                <p class="error">No puede superar 60 caracteres</p>
            }

        }

        <input type="text" placeholder="Dirección*" formControlName="direccion">

        @if (mensaje) {
        <p [class.success]="!esError" [class.error]="esError">{{ mensaje }}</p>
        }

        <button type="submit" [disabled]="registerForm.invalid">
            Crear cuenta
        </button>

        <p>¿Ya tienes cuenta?</p>
        <a routerLink="/inicio-sesion">Iniciar Sesión</a>

    </form>

</div>