<nav class="bg-light sidebar min-vh-100">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/categorias/ofertas']"> Ofertas </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/categorias/destacados']"> Destacados </a>
      </li>

      @for (categoria of categorias; track categoria.id) {
        <li class="nav-item">
          <div class="categoria-padre">
            <a class="nav-link" [routerLink]="['/categorias', categoria.id]">
              {{ categoria.nombre }}
            </a>

            @if (categoria.hijos?.length) {
              <button class="btn-toggle" (click)="toggleCategoria(categoria.id)">
                @if (categoriasExpandidas.includes(categoria.id)) {
                  <i class="bi bi-caret-down"></i>
                } @else {
                  <i class="bi bi-caret-right"></i>
                }
              </button>
            }
          </div>

          @if (categoriasExpandidas.includes(categoria.id)) {
            <ul class="subcategorias">
              @for (hijo of categoria.hijos; track hijo.id) {
                <li>
                  <a class="nav-link subcategoria-link" [routerLink]="['/categorias', hijo.id]">
                    {{ hijo.nombre }}
                  </a>
                </li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  </div>
</nav>
