<main class="contenido-categorias">
  <h1 class="titulo-categoria">
    {{ tituloPagina }}
  </h1>

  @if (subtituloPagina) {
    <h3 class="subtitulo-categoria">
      {{ subtituloPagina }}
    </h3>
  }

  <div class="productos-grid">
    @for (producto of productos; track producto.id) {
      <app-tarjeta
        [id]="producto.id"
        [titulo]="producto.nombre"
        [descripcion]="producto.descripcion"
        [precio]="producto.enOferta ? (producto.precioOferta ?? 0) : producto.precio"
        [precioOriginal]="producto.enOferta ? producto.precio : undefined"
        [enOferta]="producto.enOferta ?? false"
        [imagen]="producto.imagenUrl"
        unidad="ud"
        (agregar)="agregarProducto()"
      >
      </app-tarjeta>
    }
  </div>
</main>
