<main class="contenido-categorias">
  <h1 class="titulo-categoria">
    {{ tituloPagina }}
  </h1>

  @if (subtituloPagina) {
    <h3 class="subtitulo-categoria">
      {{ subtituloPagina }}
    </h3>
  }

  <div class="productos-grid">
    @for (producto of productosPaginados; track producto.id) {
      <app-tarjeta
        [id]="producto.id"
        [titulo]="producto.nombre"
        [descripcion]="producto.descripcion"
        [precio]="producto.enOferta ? (producto.precioOferta ?? 0) : producto.precio"
        [precioOriginal]="producto.enOferta ? producto.precio : undefined"
        [enOferta]="producto.enOferta ?? false"
        [imagen]="producto.imagenUrl"
        unidad="ud"
        (agregar)="agregarProducto($event)"
      >
      </app-tarjeta>
    }
  </div>
  @if (totalPaginas > 1) {
    <div class="paginacion">
      <button
        class="btn btn-primary"
        [disabled]="paginaActual === 1"
        (click)="paginaActual = paginaActual - 1"
      >
        Anterior
      </button>

      <div class="numeros">
        @for (pagina of [].constructor(totalPaginas); track $index) {
          <button
            class="numero-btn"
            [class.activa]="paginaActual === $index + 1"
            (click)="paginaActual = $index + 1"
          >
            {{ $index + 1 }}
          </button>
        }
      </div>

      <button
        class="btn btn-primary"
        [disabled]="paginaActual === totalPaginas"
        (click)="paginaActual = paginaActual + 1"
      >
        Siguiente
      </button>
    </div>
  }
</main>
