<div class="contenedor">
  <div class="fila">
    <div class="buscador">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar pedido..."
        [(ngModel)]="busqueda"
        (input)="onBuscarChange()"
      />
    </div>
  </div>
  <div class="lista">
    <h2 class="titulo">Pedidos</h2>

    @for (pedido of pedidos; track pedido.id; let i = $index) {
      <div
        class="item"
        (click)="abrirModal(pedido)"
        data-bs-toggle="modal"
        data-bs-target="#pedidoModal"
        [class.fila-par]="i % 2 === 0"
      >
        Pedido #{{ pedido.id }}
        -
        {{ pedido.fecha }}
        -
        {{ pedido.total | number: '1.2-2' }} € -
        {{ pedido.cliente.nombreCompleto }}
        <span
          [ngClass]="{
            pendiente: pedido.estado === 'PENDIENTE',
            reparto: pedido.estado === 'REPARTO',
            completado: pedido.estado === 'COMPLETADO',
            cancelado: pedido.estado === 'CANCELADO',
          }"
        >
          {{ pedido.estado }}
        </span>
      </div>
    }
  </div>
  <div class="paginacion">
    <button
      class="btn btn-primary"
      [disabled]="paginaActual === 1"
      (click)="paginaActual = paginaActual - 1"
    >
      Anterior
    </button>

    <span> Página {{ paginaActual }} de {{ totalPaginas }} </span>

    <button
      class="btn btn-primary"
      [disabled]="paginaActual === totalPaginas"
      (click)="paginaActual = paginaActual + 1"
    >
      Siguiente
    </button>
  </div>
  <div class="modal fade" id="pedidoModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Pedido #{{ pedidoSeleccionado?.id }}</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          @if (pedidoSeleccionado) {
            <p>Estado: {{ pedidoSeleccionado.estado }}</p>
            <p>Fecha: {{ pedidoSeleccionado.fecha }}</p>
            <p>Método pago: {{ pedidoSeleccionado.metodoPago }}</p>
            <p>Total: {{ pedidoSeleccionado.total | number: '1.2-2' }} €</p>
            <hr />
            <h5>Productos</h5>

            @for (detalle of pedidoSeleccionado.detalles; track detalle.id) {
              <p>
                {{ detalle.producto.nombre }}
                x{{ detalle.cantidad }}
              </p>
            }
            <hr />

            <h5>Cliente</h5>

            <p>{{ pedidoSeleccionado.cliente.nombreCompleto }}</p>
            <p>{{ pedidoSeleccionado.cliente.tlf }}</p>
            <p>{{ pedidoSeleccionado.cliente.direccion }}</p>

            @if (pedidoSeleccionado.especificacionesEntrega) {
              <hr />
              <h5>Nota entrega</h5>
              <p>{{ pedidoSeleccionado.especificacionesEntrega }}</p>
            }

            <hr />

            <h5>Cambiar estado</h5>

            <select class="form-select" [(ngModel)]="nuevoEstado">
              @for (estado of estadosDisponibles(); track estado) {
                <option [value]="estado">
                  {{ estado }}
                </option>
              }
            </select>

            <button class="btn btn-success mt-3" (click)="guardarEstado()">Guardar estado</button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
