.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.724);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loading-overlay img {
  width: 160px;
  height: 160px;
}

.loading-text {
  font-size: 1.5em;
  color: white;
}
