.productos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.nav-link {
  cursor: pointer;
}

.categoria-padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-toggle {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.btn-toggle i {
  font-size: 12px;
}

.subcategorias {
  list-style: none;
  padding-left: 20px;
}

.subcategoria-link {
  font-size: 14px;
  color: gray;
}
