<div class="container-fluid">
  <div class="row">
    <!-- SIDEBAR -->
    <nav class="col-3 col-md-2 bg-light sidebar min-vh-100">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categorias/ofertas']"> Ofertas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categorias/destacados']"> Destacados </a>
          </li>
          @for (categoria of categorias; track categoria.id) {
            <li class="nav-item">
              <!-- PADRE -->
              <div class="categoria-padre">
                <a class="nav-link" [routerLink]="['/categorias', categoria.id]">
                  {{ categoria.nombre }}
                </a>

                @if (categoria.hijos?.length) {
                  <button class="btn-toggle" (click)="toggleCategoria(categoria.id)">
                    @if (categoriasExpandidas.includes(categoria.id)) {
                      <i class="bi bi-caret-down"></i>
                    } @else {
                      <i class="bi bi-caret-right"></i>
                    }
                  </button>
                }
              </div>

              <!-- HIJOS -->
              @if (categoriasExpandidas.includes(categoria.id)) {
                <ul class="subcategorias">
                  @for (hijo of categoria.hijos; track hijo.id) {
                    <li>
                      <a class="nav-link subcategoria-link" [routerLink]="['/categorias', hijo.id]">
                        {{ hijo.nombre }}
                      </a>
                    </li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      </div>
    </nav>

    <!-- CONTENIDO -->
    <main class="col-9 ms-sm-auto px-md-4">
      <div class="productos-grid">
        @for (producto of productos; track producto.id) {
          <app-tarjeta
            [id]="producto.id"
            [titulo]="producto.nombre"
            [descripcion]="producto.descripcion"
            [precio]="producto.enOferta ? (producto.precioOferta ?? 0) : producto.precio"
            [precioOriginal]="producto.enOferta ? producto.precio : undefined"
            [enOferta]="producto.enOferta ?? false"
            [imagen]="producto.imagenUrl"
            unidad="ud"
            (agregar)="agregarProducto()"
          >
          </app-tarjeta>
        }
      </div>
    </main>
  </div>
</div>
