<div class="contenedor">
  <img src="/img/inicio/banner.png" alt="Banner inicio" class="banner" />

  <div class="contenido">
    <div class="fila">
      <h3>Categorías destacadas</h3>
      <div class="mas">
        <a routerLink="/categorias">Ver todo</a>
      </div>
    </div>

    <div class="categorias-container">
      @for (categoria of categorias; track categoria.id) {
        <a class="categoria-link" [routerLink]="['/categorias', categoria.id]">
          <div class="categoria">
            <img [src]="getImagenCategoria(categoria.nombre)" [alt]="categoria.nombre" />
            <p>{{ categoria.nombre }}</p>
          </div>
        </a>
      }
    </div>
  </div>

  <div class="contenido">
    <div class="fila">
      <h3>Ofertas</h3>
      <div class="mas">
        <a routerLink="/categorias/ofertas">Ver todo</a>
      </div>
    </div>
    <div class="ofertas-container">
      @for (producto of ofertas; track producto.id) {
        <app-tarjeta
          [id]="producto.id"
          [titulo]="producto.nombre"
          [descripcion]="producto.descripcion"
          [precio]="producto.enOferta ? (producto.precioOferta ?? 0) : producto.precio"
          [precioOriginal]="producto.enOferta ? producto.precio : undefined"
          [enOferta]="producto.enOferta ?? false"
          [imagen]="producto.imagenUrl"
          unidad="ud"
          (agregar)="agregarProducto()"
        >
        </app-tarjeta>
      }
    </div>
  </div>

  <div class="contenido">
    <div class="fila">
      <h3>Productos destacados</h3>

      <div class="mas">
        <a routerLink="/categorias/destacados">Ver todo</a>
      </div>
    </div>

    <div class="destacados-container">
      @for (producto of destacados; track producto.id) {
        <app-tarjeta
          [id]="producto.id"
          [titulo]="producto.nombre"
          [descripcion]="producto.descripcion"
          [precio]="producto.enOferta ? (producto.precioOferta ?? 0) : producto.precio"
          [precioOriginal]="producto.enOferta ? producto.precio : undefined"
          [enOferta]="producto.enOferta ?? false"
          [imagen]="producto.imagenUrl"
          unidad="ud"
          (agregar)="agregarProducto()"
        >
        </app-tarjeta>
      }
    </div>
  </div>
</div>
