header {
  background-color: var(--verde-claro);
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  padding: 0 20px;
}

p {
  margin: 0;
  font-weight: 500;
}

p:hover {
  cursor: pointer;
}

p:hover {
  color: var(--verde-oscuro);
}

header div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
