form {
  display: flex;
  flex-direction: column;
}

input[type='text'] {
  margin: 10px 0;
  padding: 5px;
}

.botones {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.guardar {
  background-color: var(--verde);
  color: white;
}

.sesion {
  background-color: var(--rojo);
  color: white;
}

.error {
  color: red;
  margin-top: 5px;
}
