<div class="contenedor">
  <div class="fila">
    <button
      class="btn btn-success"
      (click)="nuevoUsuario()"
      data-bs-toggle="modal"
      data-bs-target="#usuarioModal"
    >
      + Crear usuario
    </button>
  </div>

  <!-- LISTA -->
  <div class="lista">
    <h2 class="titulo">Usuarios</h2>

    @for (u of usuarios; track u.id) {
      <div
        class="item"
        (click)="abrirModal(u)"
        data-bs-toggle="modal"
        data-bs-target="#usuarioModal"
      >
        {{ u.nombreCompleto }} - {{ u.rol }}
      </div>
    }
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="usuarioModal" tabindex="-1" (hidden.bs.modal)="cerrarModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      @if (usuarioEditando) {
        <form #formUsuario="ngForm">
          <div class="modal-body">
            <!-- NOMBRE -->
            <div>
              <label>Nombre Completo</label>
              @if (modoEdicion) {
                <input
                  type="text"
                  name="nombreCompleto"
                  [(ngModel)]="usuarioEditando.nombreCompleto"
                  required
                />
              } @else {
                <p>{{ usuarioEditando.nombreCompleto }}</p>
              }
            </div>

            <!-- CORREO -->
            <div>
              <label>Correo</label>
              @if (modoEdicion) {
                <input type="email" name="correo" [(ngModel)]="usuarioEditando.correo" required />
              } @else {
                <p>{{ usuarioEditando.correo }}</p>
              }
            </div>

            <!-- CONTRASEÑA -->
            @if (modoEdicion && usuarioEditando?.id === 0) {
              <div>
                <label>Contraseña</label>
                <input
                  type="password"
                  name="password"
                  [(ngModel)]="usuarioEditando.password"
                  required
                />
              </div>
            }

            <!-- TELÉFONO -->
            <div>
              <label>Teléfono</label>
              @if (modoEdicion) {
                <input type="text" name="tlf" [(ngModel)]="usuarioEditando.tlf" required />
              } @else {
                <p>{{ usuarioEditando.tlf }}</p>
              }
            </div>

            <!-- DIRECCIÓN -->
            <div>
              <label>Dirección</label>
              @if (modoEdicion) {
                <input
                  type="text"
                  name="direccion"
                  [(ngModel)]="usuarioEditando.direccion"
                  required
                />
              } @else {
                <p>{{ usuarioEditando.direccion }}</p>
              }
            </div>

            <!-- ROL -->
            <div>
              <label>Rol</label>
              @if (modoEdicion) {
                <select name="rol" [(ngModel)]="usuarioEditando.rol" required>
                  <option value="CLIENTE">CLIENTE</option>
                  <option value="EMPLEADO">EMPLEADO</option>
                  <option value="ADMIN">ADMIN</option>
                </select>
              } @else {
                <p>{{ usuarioEditando.rol }}</p>
              }
            </div>

            <!-- ESTADO -->
            <div>
              <label>Estado</label>

              @if (modoEdicion) {
                <select
                  name="enabled"
                  [(ngModel)]="usuarioEditando.enabled"
                  required
                  defaultValue="true"
                >
                  <option [ngValue]="true">Activo</option>
                  <option [ngValue]="false">Inactivo</option>
                </select>
              } @else {
                <p>{{ usuarioEditando.enabled ? 'Activo' : 'Inactivo' }}</p>
              }
            </div>
          </div>
          <div class="modal-footer">
            @if (!modoEdicion) {
              <button class="btn btn-primary" type="button" (click)="modoEdicion = true">
                Editar
              </button>
            }

            @if (modoEdicion) {
              <button
                class="btn btn-success"
                (click)="guardarCambios()"
                [disabled]="formUsuario.invalid"
                type="button"
              >
                Guardar
              </button>
            }

            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
          </div>
        </form>
      }
    </div>
  </div>
</div>
