<div class="contenedor">
  <div class="contenido">
    <img src="/img/formularios.jpg" alt="Imagen Frutería Covirán" />
  </div>

  <div class="contenido formulario">
    <h1>Restablecer contraseña</h1>

    <p class="descripcion">Introduce una nueva contraseña para acceder de nuevo a tu cuenta.</p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- PASSWORD -->

      <div class="password-container">
        <input
          [type]="mostrarPassword ? 'text' : 'password'"
          placeholder="Nueva contraseña*"
          formControlName="password"
        />

        <button type="button" class="toggle-password" (click)="mostrarPassword = !mostrarPassword">
          <i
            class="bi"
            [class.bi-eye]="!mostrarPassword"
            [class.bi-eye-slash]="mostrarPassword"
          ></i>
        </button>
      </div>

      @if (f['password'].invalid && (f['password'].touched || f['password'].dirty)) {
        @if (f['password'].errors?.['required']) {
          <p class="error">La contraseña es obligatoria</p>
        }

        @if (f['password'].errors?.['minlength']) {
          <p class="error">Debe tener mínimo 8 caracteres</p>
        }
      }

      <!-- CONFIRM PASSWORD -->

      <div class="password-container">
        <input
          [type]="mostrarConfirmPassword ? 'text' : 'password'"
          placeholder="Confirmar contraseña*"
          formControlName="confirmPassword"
        />

        <button
          type="button"
          class="toggle-password"
          (click)="mostrarConfirmPassword = !mostrarConfirmPassword"
        >
          <i
            class="bi"
            [class.bi-eye]="!mostrarConfirmPassword"
            [class.bi-eye-slash]="mostrarConfirmPassword"
          ></i>
        </button>
      </div>

      @if (
        f['confirmPassword'].invalid && (f['confirmPassword'].touched || f['confirmPassword'].dirty)
      ) {
        @if (f['confirmPassword'].errors?.['required']) {
          <p class="error">Debes confirmar la contraseña</p>
        }

        @if (f['confirmPassword'].errors?.['noCoinciden']) {
          <p class="error">Las contraseñas no coinciden</p>
        }
      }

      @if (mensaje) {
        <p [class.success]="!esError" [class.error]="esError">
          {{ mensaje }}
        </p>
      }

      <button type="submit" [disabled]="resetForm.invalid">Guardar contraseña</button>

      <a routerLink="/inicio-sesion" class="volver-login"> o Iniciar Sesión </a>
    </form>
  </div>
</div>
