.contenedor {
    display: flex;
    min-height: 100vh;
    gap: 10px;
}

.contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
    align-items: center;
    justify-content: flex-start;
    padding-top: 200px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: clamp(26px, 4vw, 40px);
}

a {
    color: var(--verde-oscuro);
    text-decoration: none;
    font-size: 15px;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

input {
    width: clamp(280px, 50vw, 600px);
    height: clamp(60px, 8vw, 80px);
    border-radius: 15px;
    border-color: var(--gris-claro);
    font-size: clamp(14px, 1.2vw, 15px);
    padding-left: 20px;
}

/*Para que no salga rojo directamente*/
input:invalid:not(:placeholder-shown) {
    border-color: rgba(255, 0, 0, 0.31);
}

input:valid {
    border-color: var(--verde-claro);
}

.password {
    align-self: flex-end;  
}

button {
    background-color: var(--verde);
    color: white;
    width: clamp(220px, 35vw, 300px);
    height: clamp(60px, 8vw, 80px);
    font-size: clamp(18px, 2vw, 25px);
    font-weight: bold;
    border-radius: 15px;
    border: none;
}

@media (max-width: 900px) {
    .contenedor {
        flex-direction: column;
        min-height: 100vh;
    }

    /*Oculta la imagen*/
    .contenido:first-child {
        display: none;
    }

    .contenido {
        padding-top: 25px;
        width: 100%;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    form {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    input {
        width: 100%;
        height: 65px;
        font-size: 14px;
    }

    button {
        width: 100%;
        height: 65px;
        font-size: 20px;
    }

    a {
        align-self: center;
        font-size: 14px;
    }
}