.pedidos-container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  height: 100vh;
}

.pedidos-container h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
}

.pedido-card {
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.pedido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedido-header p {
  margin: 0;
}

.estado {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
}

.pendiente {
  background-color: #fff3cd;
  color: #856404;
}

.reparto {
  background-color: #cce5ff;
  color: #004085;
}

.completado {
  background-color: #d4edda;
  color: var(--verde);
}

.cancelado {
  background-color: #f8d7da;
  color: var(--rojo);
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px !important;
}

.pedido-card {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.pedido-card:hover {
  transform: translateY(-3px);

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.modal-content {
  border-radius: 18px;
  border: none;
}

.modal-header {
  border-bottom: 1px solid #eee;
}

.modal-title {
  font-weight: bold;
}

.modal-body h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-body p {
  margin-bottom: 10px;
}

.modal-body hr {
  margin: 20px 0;
}

.btn-danger {
  background-color: var(--rojo);
  border: none;
  font-weight: bold;
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s;
}

.btn-danger:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .pedido-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .pedidos-container {
    height: fit-content;
  }
}
