// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'ngx-toastr/toastr';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
@import 'bootstrap/scss/functions';
@import './styles/custom-variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --verde: #008f35;
  --verde-claro: #d9eee1;
  --verde-oscuro: #005620;
  --rojo: #e1001a;
  --gris-claro: #d9d9d935;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.active-link {
  color: var(--verde-oscuro);
  text-decoration: underline;
}

a:hover {
  color: var(--rojo);
  text-decoration: none;
}

/* Toast */
.toast-container .ngx-toastr {
  width: 280px;
  min-height: 50px;
  padding: 12px 14px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.toast-success {
  background-color: var(--verde) !important;
}

.toast-error {
  background-color: var(--rojo) !important;
}

.toast-success,
.toast-error {
  background-image: none !important;
}

.toast-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
