@import 'bootstrap/scss/functions';
@import './styles/custom-variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/bootstrap';

:root {
  --verde: #008f35;
  --verde-claro: #d9eee1;
  --verde-oscuro: #005620;
  --rojo: #e1001a;
  --gris-claro: #d9d9d935;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.active-link {
  color: var(--verde-oscuro);
  text-decoration: underline;
}

a:hover {
  color: var(--rojo);
  text-decoration: none;
}
